.highlight_added {
  background-color: rgb(144, 238, 144) !important;
  transition: background-color 0.3s ease;
  pointer-events: none; /* 防止干扰交互 */
  display: block; /* 确保不破坏布局 */
}

.highlight_changed {
  background-color: rgb(255, 165, 0) !important;
  transition: background-color 0.3s ease;
  pointer-events: none; /* 防止干扰交互 */
  display: block; /* 确保不破坏布局 */
}

.highlight_removed {
  background-color: rgb(173, 216, 230) !important;
  transition: background-color 0.3s ease;
  pointer-events: none; /* 防止干扰交互 */
  display: block; /* 确保不破坏布局 */
}


/* 备案 样式代码 */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 12px; /* 调整字体大小 */
  color: #6c757d; /* 调整字体颜色 */
}

.beian-link, .friend-link {
  color: #6c757d;
  text-decoration: none;
}

.beian-link:hover, .friend-link:hover {
  text-decoration: underline;
}